player-connection-mode=Listen
player-connection-guid=2214225992
player-connection-debug=0
player-connection-project-name=Battle for Sem Valor
player-connection-ip=192.168.0.27
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d2595991201340bc8a71d8b9daa54fdf
